@charset "utf-8";
.wrap {
   height: auto;
   width: 1280px;
   clip: rect(0px,0px,0px,0px);
   margin-right: auto;
   margin-left: auto;
   border-top-style: none;
   border-right-style: none;
   border-bottom-style: none;
   border-left-style: none;
}
.page_header {
   float: left;
   height: 84px;
   width: 1280px;
   background-color: #f0f1f1;
   border-bottom-style: solid;
   border-bottom-color: #666;
}
.wrap .page_header #top_banner ul li a {
   color: #333;
   text-decoration: none;
   font-weight: bold;
}

#top_logo {
   float: left;
   height: 84px;
   width: 180px;
}
#top_banner {
   float: left;
   height: 60px;
   width: 352.1px;
   text-align: center;
   margin-top: 0px;
}
#top_banner ul {
   list-style-type: none;
}
#top_banner ul li {
   font-size: 17px;
   display: block;
   padding-top: 12px;
   padding-right: 10px;
   padding-bottom: 10px;
   float: right;
   color: #333;
   font-weight: bold;
}
.main {
   float: left;
   height: 2000px;
   width: 1280px;
}
.main_a {
   float: left;
   height: 330px;
   width: 1280px;
}
#main_a_ban {
   float: left;
   height: 270px;
   width: 305px;
   margin-top: 20px;
}
#main_a_ban2 {
   float: left;
   width: 305px;
   margin-left: 20px;
   height: 270px;
   margin-top: 20px;
}
#main_a_ban3 {
   float: left;
   height: 270px;
   width: 305px;
   margin-left: 20px;
   margin-top: 20px;
}
#main_a_ban4 {
   float: left;
   height: 270px;
   width: 305px;
   margin-left: 20px;
   margin-top: 20px;
}
.main_b {
   float: left;
   height: 350px;
   width: 1280px;
}
.footer {
   float: left;
   height: 200px;
   width: 1280px;
   margin-top: 100px;
}
.main_banner {
   float: left;
   height: 80px;
   width: 1280px;
   margin-top: 10px;
}
#main_ban {
   float: left;
   height: 80px;
   width: 400px;
}
.box {
   height: 650px;
   width: 450px;
   text-align : center;
   margin-left: 420px;
}
.main .box #idfield {
   height: 50px;
   width: 400px;
   margin-top: 150px;
}
.main .box #pwfield {
   height: 50px;
   width: 400px;
   margin-top: 50px;
}
.main .box #sendbtn {
   background-color: #3C9;
   height: 50px;
   width: 400px;
   margin-top: 30px;
}
#reg {
   float: right;
   height: 10px;
   width: 130px;
   margin-top: 23px;
}
.abselect {
   float: left;
   height: 560px;
   width: 660px;
   margin-left: 320px;
   margin-top: 100px;
}
#ad_se1 {
   float: left;
   height: 250px;
   width: 300px;
}
#ad_se2 {
   float: left;
   height: 250px;
   width: 300px;
   margin-left: 60px;
}
#ad_se3 {
   float: left;
   height: 250px;
   width: 300px;
   margin-top: 60px;
}
#ad_se4 {
   float: left;
   height: 250px;
   width: 300px;
   margin-top: 60px;
   margin-left: 60px;
}
#registerform {
   border-top-width: 1px;
   border-bottom-width: 1px;
   border-top-style: solid;
   border-bottom-style: solid;
   border-left-style: solid;
   border-right-style: solid;
    margin-left: 300px;
    margin-top: 70px;
}

#registerform th {
   height: 70px;
   padding-top: 5px;
   padding-left: 25px;
   width: 250px;
   text-align: left;
   border-bottom-width: 1px;
   border-bottom-style: solid;
   border-bottom-color: #dddddd;
   background-color: #efefef;
    margin-top: 600px;
}
#registerform tr td {
   border-bottom-width: 1px;
   border-bottom-color: #dddddd;
   padding-top: 5px;
   padding-bottom: 5px;
   padding-left: 10px;
   text-align: left;
    margin-top: 600px;
}
.page_content .tablestyle {
   float: left;
   width: 680px;
   text-align: center;   
   padding-top: 20px;
   padding-bottom: 20px;   
}

#registerform tr .btnstyle {
   text-align: center;
   padding-top: 5px;
   padding-bottom: 5px;
}
input {
   background-color:#a6f1ee;
   border: 1px solid #ccc;
}
textarea {
   background-color: #dfe9d5;
   border: 1px solid #ccc;
}
.catalog {
   float: both;
   height: 1000px;
   width: 1500px;
   padding-top: 20px;
   padding-left: 20px;
}
.phone {
   float: left;
   height: 350px;
   width: 250px;
   margin-right: 40px;
}
.pimage {
   float: left;
   height: 240px;
   width: 160px;
   margin-top: 10px;
   margin-left: 10px;
}
.button {
   float: left;
   height: 60px;
   width: 160px;
   margin-top: 20px;
   margin-left: 10px;
}
.loginuser {
   float: right;
   height: 20px;
   width: 200px;
   margin-right: 20px;
   margin-top: 10px;
}
.orderBy {
   float: left;
   height: 100px;
   width: 1500px;
   margin-top: 30px;
   margin-left: 70px;
}
.main_catalog {
   float: left;
   height: 1500px;
   width: 1270px;
   margin-left: 130px;
}